@import "tailwindcss/preflight";
@tailwind components;
@tailwind utilities;

body {
  background-color: #020617; 
  color: #f8fafc; 
}
/* TACTICAL TICKER ANIMATION */
@keyframes scroll-left {
  0% { transform: translateX(100vw); }
  100% { transform: translateX(-100%); }
}

.animate-ticker {
  animation: scroll-left 25s linear infinite;
  display: flex;
  width: max-content;
}

/* Pause the scroll when a dispatcher hovers their mouse over it */
.animate-ticker:hover {
  animation-play-state: paused;
}